div(class="films")
    h1(class="page-title__text") Профиль

    div(class="page-left__column")
        div(class="profile-ava__column")
            img(src=avatar class="profile-ava__ico")
        i(id="settings_btn" class="profile-settings__column")
            img(src="settings.ico" class="profile-settings__ico")
    div(class="page-right__column")
        div(class="profile__grid")
            div(class="profile-grid__column")
                div(class="profile-grid__row")
                    div Имя пользователя:
                    span(class="profile-grid__text") #{login}

                div(class="profile-grid__row")
                    div О себе:
                    span(class="profile-grid__text") #{about}

section(class="carousel__selection")
    div(class="title__row")
        div(class="carousel-your-active__title")
            div(class="row") Ваша активность

section(class="carousel__selection")
    div(id="selection-watch-list" class="carousel-your-active__films")

section(class="carousel__selection")
    div(id="selection-liked" class="carousel-your-active__films")


section(class="carousel__selection")
    div(class="carousel-your-active__films")
        div(id="empty-film-profile" class="films")
            h1(class="carousel-empty__text") — Добавьте в избранные или отложенные фильмы и сериалы
