.settings_btn {
    height: 38px;
    width: 38px;
    position: absolute;
    -moz-appearance: none;
    border: 3px solid #c9256a;
    cursor: pointer;
    margin-top: 210px;
    margin-left: -11px;
    border-radius: 15px;
    transition: .3s;
}

.settings_btn:hover {
    border: 3px solid #5adb1a;
    border-radius: 30px;
    transition: .3s;
    transform: scale(1.15);
}

.prof_pic {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    width: 250px;
    height: 250px;
    background-color: unset;
    border: solid  #8bbf51;
    border-radius: 62%;
    object-fit: cover;
}

.prof_pic img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.note {
    color: white;
}

.profile {
    color: white;
    margin-left: 40px;
}

.selection-profile {
    font-family: 'Montserrat', sans-serif;
    padding-left: 9%;
    letter-spacing: -.5px;
    font-size: 3.0em;
    padding-top: 25px;
    color: azure;
}

.block-left {
    padding-left: 9%;
    padding-top: 40px;
    width: 500px;
    height: 370px;
    float:left;
}

.block-right{
    padding-right: 9%;
    padding-top: 40px;
    width: auto;
    height: 370px;
}

.set {
    padding-top: 2px;
    height: 30px;
    margin-top: 2px;
    margin-left: 4px;
}

.profile-grid {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: repeat(15,1fr);
    align-items: flex-start;
    padding-top: 22px;
    grid-gap: 40px;
}

.grey-info-profile {
    font-size: 24px;
    margin-top: 20px;
    color: hsla(0,0%,100%,.56);
}

.grey-info-actor {
    font-size: 18px;
    margin-top: 22px;
    color: hsla(0,0%,100%,.56);
}

.pug-text-profile {
    font-size: 24px;
    color: white;
    line-height: 50px;
}

.col-grid-profile {
    padding-bottom: 60px;
}
.col-grid-profile:first-child {
    grid-column: 1/8;
}

.selection-profile-2 {
    width: 100%;
}

.about-your {
    color: white;
    border-bottom: 2px solid #3a3a3a;
    margin-right: 9%;
    margin-left: 9%;
}

.about-your-active {
    color: white;
    margin-right: 9%;
    margin-left: 9%;
}

@media (min-width: 319px) and (max-width: 600px) {
    .block-left {
        padding-left: 9%;
        padding-top: 40px;
        width: 500px;
        height: 370px;
        float:left;
        display: contents;
    }

    .block-right{
        padding-right: 9%;
        padding-top: 40px;
        width: auto;
        height: 370px;
        margin-left: 3em;
    }

}
