div(class="films")
    h1(class="page-title__text") Профиль

    div(class="page-left__column")
        div(class="profile-ava__column")
            img(src=avatar class="profile-ava__ico")
        i(id="settings_btn" class="profile-settings__column")
            img(src="settings.ico" class="profile-settings__ico")
    div(class="page-right__column")
        div(class="profile__grid")
            div(class="profile-grid__column")
                div(class="profile-grid__row")
                    div Имя пользователя:
                    span(class="profile-grid__text") #{login}
                div(class="profile-grid__row")
                    div Текущая подписка:
                    span(class="profile-grid__text") #{period='Активных подписок нет'}
            div(class="profile-grid__column" style="padding-bottom: 40px;")
                div(class="profile-grid__row")
                    div О себе:
                    span(class="profile-grid__text") #{about}

section(class="carousel__selection")
    div(class="title__row")
        div(class="carousel-your-active__title")
            div(class="row") Ваша активность

section(class="carousel__selection")
    div(id="selection-watch-list" class="carousel-your-active__films")

section(class="carousel__selection")
    div(id="selection-liked" class="carousel-your-active__films")


section(class="carousel__selection")
    div(class="carousel-your-active__films")
        div(id="empty-film-profile" class="films")
            h1(class="carousel-empty__text") — Добавьте в избранные или отложенные фильмы и сериалы

div(class="page-left__column")
    h1(class="subscription__payment-text") Оформите подписку на месяц за 2 ₽
    a(class="subscription__subpayment-text") Наличие подписки открывает доступ ко всем фильмам и сериалам
    form(class="payment-form" method="POST" action="https://yoomoney.ru/quickpay/confirm.xml")
        input(type="hidden" name="receiver" value="4100117405347318")
        input(type="hidden" name="label" value="123")
        input(type="hidden" name="quickpay-form" value="donate")
        input(type="hidden" name="targets" value="Подписка LimeTV")
        input(type="hidden" name="sum" value="2" data-type="number")
        input(type="hidden" name="need-fio" value="false")
        input(type="hidden" name="need-email" value="false")
        input(type="hidden" name="need-phone" value="false")
        input(type="hidden" name="formcomment" value="123")
        input(type="hidden" name="comment" value="123")
        input(type="hidden" name="targets" value="123")
        input(type="hidden" name="need-address" value="false")
        input(type="hidden" name="successURL" value="https://a06367.ru")
        label(class="subscription__radio-title radio-color-PC")
            input(id="radio-1" type="radio" name="paymentType" value="PC" checked)
            label(for="radio-1") Через Юmoney

        label(class="subscription__radio-title radio-color-AC")
            input(id="radio-2" type="radio" name="paymentType" value="AC")
            label(for="radio-2") Через карту

        input(class="subscription__button" type="submit" value="Перейти к оплате")
