div(class="films genres-container")
    h1(class="films-container__text") Жанры
    div(class="genres-content__row")
        each genre in genres
            a(class="genres-content__column")
                img(id=genre.id src=genre.src)
