div(class="films-container genres-container")
    h1(class="selection-label") Жанры
    div(class="contentGenres")
        each genre in genres
            a(class="itemGenres")
                img(src=genre.src id=genre.id)
