div(class="films-container")
    h1(class="selection-genres") #{genres}
    div(class="contentFilm")

        if genre !== null
            each gen in genre
                a(class="item")
                    img(src=gen.pic[0] id=gen.id style="border-radius: 15px;")

        else
            div(class="films-container" style="padding-top: 10px")
                h3(class="tit-in-search") Ничего не найдено
