div(class="films")
    h1(class="selection-genres") #{genres}
    div(class="contentFilm")

        if genre !== null
            each gen in genre
                a(class="item")
                    img(src=gen.pic[0] id=gen.id style="border-radius: 15px;")

        else
            div(class="films" style="padding-top: 10px")
                h3(class="carousel__title") Ничего не найдено
