div.profile
    h1.title Настройки профиля
    h3.profile_login Имя пользователя: #{login}
    div#error(class="error")
    div.settings
        div(class="profile_pic")
            img(src="pic.png" id="avatar")
            input(type="submit" class="" name="pic" value="change" id="new_avatar")
        div(class="profile_settings")
            form(id="pass_form")
                div
                    input(type="password" placeholder="Password" class="profile_pass profile_field")
                    input(type="submit" class="des_btn" name="password" value="Сохранить" id="submit_pass")
            form(id="bio_form")
                div
                    textarea(placeholder="О себе" maxlength="512" rows="14" cols="33" class="profile_bio profile_field")= about
                    input(type="submit" class="des_btn" name="login" value="Сохранить" id="submit_save")
