div(class="auth")
     div(class="auth-title__text") Вход
     div#error
     form(id="form" name="authorization" method="post" action="/")
         div(class="auth-input__column")
             input(id="auth-login" type="text" placeholder="Логин")
         div(class="auth-input__column")
             input(id="auth-password" type="password" placeholder="Пароль")
             div(class="auth-icon__column" id="icon")
                 img(class="auth-see__ico" src="eye.ico")
         input(type="submit" name="auth" value="Войти" class="auth-signup__btn")
