#auth_btn, #registration_btn {
    text-align: center;
    color: white;
    cursor: pointer;
    width: 96%;
    text-decoration: none;
    text-decoration-thickness: initial;
    text-decoration-color: initial;
    border: solid #2cc713;
    background: #2cc713;
    transition: .2s;
    margin: 30px 5px 10px;
    padding: 0.4em 0.8em;
    border-radius: 5px;
    font: bold 16px/16px Graphik Kinopoisk LC Web,Arial,Tahoma,Verdana,sans-serif;
}

.registration_btn:hover {
    transform: scale(1.05);
}

.registration_btn:hover {
    transform: scale(1.05);
}

.name-register {
    color: white;
    font: bold 34px/42px Graphik Kinopoisk LC Web,Arial,Tahoma,Verdana,sans-serif;
    padding-left: 5px;
}

.registration_block {
    position: relative;
    z-index: 2;
    margin: 30px auto;
    width:430px;
    justify-content: center;
    align-items: center;
    padding: 60px 35px 35px 45px;
    background: rgb(0 0 0 / 69%);
}
.registration-back {
    /*background-image: url(../images/registration.png);*/
    position: absolute;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    max-width: 100%;
    height: auto;
}
@media (min-width: 319px) and (max-width: 1020px) {
    .registration_block {
        position: relative;
        z-index: 2;
        margin: 30px auto;
        width: 80%;
        overflow-x: hidden;
        justify-content: center;
        align-items: center;
        padding: 45px 20px 20px 20px;
        background: rgba(0, 0, 0, 0.69);
    }
    .name-register {
        color: white;
        font: bold 23px/28px Graphik Kinopoisk LC Web,Arial,Tahoma,Verdana,sans-serif;
        padding-left: 5px;
    }
    .registration-back {
        /*background-image: url(../images/registration.png);*/
        position: fixed;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 90%;
        max-width: 170%;
        height: auto;
    }
}
