div.registration_block
     div.name-register Вход
     div#error
     form(id="form" name="authorization" method="post" action="/")
         div.input_block
             input#login_field(type="text" placeholder="Логин")
         div.input_block
             input#password_field(type="password" placeholder="Пароль")
         input(type="submit" name="auth" value="Войти" id="auth_btn")
