div(class="registration_block")
     div(class="name-register") Добро пожаловать!
     div#error
     form(id="form" name="registration" method="post" action="/")
         div(class="input_block")
             input#login_field(type="text" placeholder="Логин")
         div(class="input_block")
             input#password_field(type="password" placeholder="Пароль")
             div(class="input-icon" id="icon")
                 img(src="eye.ico" style="padding-top: 3px; margin-bottom: -1px;")
         input(type="submit" name="reg" value="Зарегистрироваться" id="registration_btn")
