div.registration_block
     div.name-register Добро пожаловать!
     div#error
     form(id="form" name="registration" method="post" action="/")
         div.input_block
             input#login_field(type="text" placeholder="Login")
         div.input_block
             input#password_field(type="password" placeholder="Password")
         input(type="submit" name="reg" value="Создать" id="registration_btn")
