.film {}

.film-note {
    /*font-size: larger;*/
    margin-block: 20px;
}

.watch-btn {
    text-align: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    padding: 10px;
    text-decoration-color: initial;
    border-radius: 50px;
    border: solid  #8bc34a;
    margin: 5px auto;
    max-width: 100px;
    background: unset;
}

.film_description {
    color: white;
}

.film-page-container {
    display: flex;
}

.actors-container {
    display: flex;
}

.actor-container {
    margin-left: 20px;
}

.actor-photo {}

.film-pic  {
    display: inline-block;
    /*padding: 20px;*/
    margin: 6px;
    width: 610px;
    height: 400px;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    /*background: radial-gradient(ellipse at left top, #8bc34a59, transparent 170px),*/
    /*radial-gradient(ellipse at right bottom, #8bc34a59, transparent 170px);*/
    /*box-shadow:  20px 20px 23px #2d2e35,*/
    /*-20px -20px 23px #4b4c58;*/
}

.film-pic:hover {

}
