.film {}

.film-note {
    /*font-size: larger;*/
    margin-block: 20px;
}

.watch-btn {
    text-align: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    padding: 10px;
    text-decoration-color: initial;
    border-radius: 50px;
    border: solid  #8bc34a;
    margin: 5px auto;
    max-width: 100px;
    background: unset;
}

.film_description {
    color: white;
    margin-inline: 60px;
}

.film-page-container {
    margin-top: -13px;
    display: flex;
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

.actors-container {
    display: flex;
}

.actors {
    display: flex;
}

.actor-note {
    color: white;
    font-size: larger;
}

.actor-container {
    margin-left: 20px;
}

.film-pic {
    display: inline-block;
    width: 610px;
    height: 400px;
    overflow: hidden;
    background: linear-gradient(
            90deg,
            rgb(20, 20, 20) 14.11%,
            rgb(20 20 20) 15.11%,
            rgb(20, 20, 20) 16.51%,
            rgb(20, 20, 20) 17.51%,
            rgb(20 20 20) 18.91%,
            rgb(20 20 20) 20.91%,
            rgb(20 20 20) 18.91%,
            rgb(20 20 20) 25.31%,
            rgb(20 20 20 / 99%) 27.52%,
            rgb(20 20 20 / 98%) 29.71%,
            rgb(20 20 20 / 97%) 31.52%,
            rgb(20 20 20 / 95%) 33%,
            rgb(20 20 20 / 93%) 34.11%,
            rgb(20 20 20 / 91%) 38.52%,
            rgb(20 20 20 / 90) 42.92%,
            rgb(20 20 20 / 89%) 45.52%,
            rgb(20 20 20 / 85%) 47.32%,
            rgb(20 20 20 / 81%) 51.72%,
            rgb(20 20 20 / 61%) 56.12%,
            rgb(0 0 0 / 0%) 68.32%),
    linear-gradient(
            180deg,
            rgb(20 20 20 / 10%) 50.52%,
            rgb(20 20 20 / 20%) 55.52%,
            rgb(20 20 20 / 30%) 60.52%,
            rgb(20 20 20 / 36%) 65.52%,
            rgb(20 20 20 / 40%) 75.52%,
            rgb(20 20 20 / 44%) 77.52%,
            rgb(20 20 20 / 49%) 80.52%,
            rgb(20 20 20 / 56%) 83.52%,
            rgb(20 20 20 / 62%) 86.52%,
            rgb(20 20 20 / 67%) 89.52%,
            rgb(20 20 20 / 75%) 91.52%,
            rgb(20 20 20 / 82%) 93.52%,
            rgb(20 20 20 / 87%) 95.52%,
            rgb(20 20 20 / 93%) 96.52%,
            rgb(20 20 20 / 99%) 98.90%);
}

.fon-pic  {
    /*max-width: 100%;*/
    position: absolute;
    height: auto;
    z-index: 0;
}

.age-pic {
    background: #bb0e7d78;
    position: absolute;
    z-index: 2;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    right: 0px;
}

.film-pic:hover {

}

.film-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
}

.film-back {
    background: url(../images/micro.svg);
}

.actor-h {
    color: white;
    text-underline-offset: 5px;
    text-decoration: underline;
    text-decoration-color: hsl(109, 66%, 35%);
    transition:all .3s;
}
.actor-h:focus, .actor-h:hover{
    cursor: pointer;
    text-decoration-color: hsl(335, 58%, 51%)
}


.btn-watch {
    -moz-appearance: none;
    border: 4px solid #601cbb;
    padding: 15px 15px 15px 20px;
    border-radius: 9px;
    color: #fff;
    cursor: pointer;
    margin-right: 28px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.watch {
    transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
}

.watch:hover {
    border: 4px solid #cb3a76;
}

.watch-btn-img {
    vertical-align: middle;
    padding-left: 20px;
    width: 28px;
}

.re-btn-watch {
    -moz-appearance: none;
    border: 4px solid #34941e;
    padding: 15px 15px 15px 15px;
    border-radius: 9px;
    color: #fff;
    cursor: pointer;
    margin-right: 28px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.re-btn-unwatch {
    border: 4px solid #44b32b;
    background: #44b32b;
}

.re-like {
    transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
}

.re-like:hover {
    border: 4px solid #cb3a76;
}

.about {
    color: white;
    border-bottom: 2px solid #3a3a3a;
    margin-right: 6%;
    margin-left: 6%;
}

.selection-2 {
    width: 100%;
    position: absolute;
    padding-top: 600px;
}

.short-text {
    text-align: left;
    letter-spacing: .02em;
    font-size: 20px;
    margin-bottom: 0;
    font-family: inherit;
    line-height: 36px;
    opacity: .78;
}

.selection-3 {
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.full-grid {
    display: grid;
    grid-template-columns: repeat(15,1fr);
    align-items: flex-start;
    padding-top: 22px;
    border-top: 2px solid hsla(0,0%,100%,.1);
    grid-gap: 40px;
}

.col-grid {
    padding-bottom: 60px;
}
.col-grid:first-child {
    grid-column: 1/6;
}

.col-grid:nth-child(2) {
    grid-column: 6/11;
}

.col-grid:nth-child(3) {
    grid-column: 11/15;
}

.name-col {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 38px;
}

.grey-info {
    font-size: 18px;
    margin-top: 30px;
    color: hsla(0,0%,100%,.56);
}

.pug-text {
    font-size: 18px;
    color: white;
    line-height: 40px;
}

.div-series {
    background: #3e3e3e73;
    width: 81px;
    margin-left: 203px;
    height: 19px;
    margin-top: 13px;
}

.series {
    padding-left: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

.btn-container {

}

.main {
    position: absolute;
    padding-left: 100px;
    z-index: 3;
    padding-top: 100px;
}

.watch {
    vertical-align: middle;
    padding-left: 20px;
    width: 28px;
}

@media  (min-width: 319px) and (max-width: 1020px) {
    .name-col {
        margin-bottom: 40px;
        font-size: 25px;
        line-height: 38px;
    }
    .fon-pic  {
        /*max-width: 100%;*/
        position: absolute;
        height: auto;
        z-index: 0;
        display: none;
    }
}

.btns {
    font-size: 18px;
    padding-top: 60px;
}

.text-about {
    width: 54%;
}

@media  (min-width: 319px) and (max-width: 1020px) {
    .age-pic {
        background: #bb0e7d78;
        position: absolute;
        z-index: 2;
        padding: 5px 5px 5px 5px;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif;
        font-size: 32px;
        right: -2em;
    }
    .full-grid {
        display: inline-block;
        grid-template-columns: repeat(15,1fr);
        align-items: flex-start;
        padding-top: 22px;
        border-top: 2px solid hsla(0,0%,100%,.1);
        grid-gap: 40px;
    }
    .main {
        position: absolute;
        padding-left: 20px;
        z-index: 3;
        padding-top: 100px;
    }
    .btn-watch {
        -moz-appearance: none;
        border: 4px solid #601cbb;
        padding: 15px 15px 15px 20px;
        border-radius: 9px;
        color: #fff;
        cursor: pointer;
        margin-right: 28px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1px;
        color: rgba(0, 0, 0, 0);
    }
    .div-series {
        width: 81px;
        margin-left: 203px;
        height: 19px;
        margin-top: 13px;
    }

    .series {
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
        font-size: 15px;
    }

    .watch {
        vertical-align: middle;
        width: 28px;
        padding-left: 10px;
        padding-right: 47px;
    }
    .btns {
        font-size: 18px;
        padding-top: 60px;
        display:flex;
    }
    .text-about {
        width: 90%;
    }
}
