div(class="offline_page_div")
    h2(id ="offline_page") Нет подключения к Интернету
    h4 Попробуйте сделать следующее:
    ul(class="offline_page_ul")
        li Проверьте сетевые кабели, модем и маршрутизатор.
        li Подключитесь к сети Wi-Fi ещё раз.
    a(class="blubtn" id="reload_page") Обновить страницу