div.profile
    h1.title Настройки профиля
    h3.profile_login Имя пользователя: #{user.login}
    div#error(class="error")
    div.profile_container
        div(class="profile_pic")
            img(src="pic.png" id="avatar")
            div(class="profile_subscriptions")
                a #{user.subscriptions}
                a #{user.subscribers}
            if user.mine
                button#settings(class="settings")
        div(class="profile_bio")
            span #{user.about}
