div(id="navbar" class="cont")
    nav(class="navbar-container container-new")
        a(class="home-link" id="logo-start")
            div(class="col-for-logo-2")
                i(class="gg-film")
            div(class="logo col-for-logo-2")
                span LimeTV

        form(id="search-form" name="search" method="get" action="/")
            input#text_search(type="text" class="search-data" maxlength="30" placeholder="Фильм или актер")

        div(class="search-icon" id="open-s")
            img(src="search.ico" style="height: 34px;")

        div(class="cancel-icon" id="cl-s" style="padding-right: 10px;")
            img(src="canceled.ico" style="height: 62px;")

        button(type="button" class="navbar-toggle" aria-label="Toggle menu" aria-expanded="false" aria-controls="navbar-menu")
            span( class="icon-bar")
            span( class="icon-bar")
            span( class="icon-bar")
        div(class="detached" id="navbar-menu")


div(id="stuff")
    img(class="registration-back" src="registration.png")
