div(id="navbar" class="navbar")
    nav(class="navbar-container container-new")
        a(id="container-new-logo__column" class="container-new-logo__column")
            div(class="container-new-logo__row")
                i(class="container-new-logo__text")
            div(class="container-new-logo__row logo")
                span LimeTV

        form(id="search-form" name="search" method="get" action="/")
            input(id="text-search" type="text" class="container-new-search__input" maxlength="30" placeholder="Поиск фильма или актера")

        div(id="open-s" class="container-new-search__btn")
            img(src="search.ico" class="container-new-search__ico")

        div(id="cl-s" class="container-new-cancel__btn" style="padding-right: 10px;")
            img(src="canceled.ico" class="container-new-cancel__ico")

        button(type="button" class="container-new__toggle" aria-expanded="false" aria-controls="navbar__btn")
            span( class="container-new__strip")
            span( class="container-new__strip")
            span( class="container-new__strip")
        div(id="navbar__btn" class="detached")


div(id="stuff")
