//- меню
div.menu
    //- контейнер c элементами
    div.menu-el-container
        //- отдельные элементы
        div(class="cont")
            div(class="row")
                div(class="logo col-2" style="width: 10%;")
                    a(href="/")
                        img(src="limetv.png" style="height: 55px")
                div.col-2
                div(id="menu-items" style="float: right;").col-2

div(id="stuff")
    img(class="registration-back" src="registration.png")