.first-film {
    color: #fff;
    /*background-image: url(../images/img.png);*/
    /*background: url(../images/help_info.svg);*/
    /*background: url(../images/play.svg);*/
    /*background: url(../images/micro.svg);*/
    /*background: url(../images/play-white.svg);*/
    /*background: url(../images/heart.svg);*/
    /*background-image: url(../images/eye.svg);*/
}

.input-icon {
    width: 20px;
    cursor: pointer;
    padding: 0 4px;
    transition: all .4s ease;
    right: 0;
    float: right;
    margin-top: -43px;
    z-index: 3;
    position: relative;
    margin-right: 30px;
}

.input-icon.selected {
    background-color: #dd3279ab;
    border-radius: 10px;
}

.input-icon img {
    max-width: 20px;
}

.info-button {
    width: 40px;
}

.play-button {
    width: 40px;
}

.info-text {
    position: absolute;
    left: 115px;
    text-transform: uppercase;
    background: rgb(137 137 137 / 58%);
    padding: 0 30px;
    text-align: center;
    border-radius: 8px;
    transition: 0.2s;
    overflow: hidden;
}

.play-text {
    position: absolute;

    text-transform: uppercase;
    background: rgb(255, 255, 255);
    padding: 0 30px;
    text-align: center;
    border-radius: 8px;
    transition: 0.2s;
    overflow: hidden;
    /*font: bold 24px/34px Helvetica, Sans-Serif;*/
}

.info-text:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.play-text:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.start-text {
    position: absolute;
    font: bold 24px/64px Graphik Kinopoisk LC Web,Arial,Tahoma,Verdana,sans-serif;
    left: 115px;
    max-width: 40%;
    padding-top: 20%;
    font-size: 62px;
    color: white;
}

.selection {
    position: absolute;
    padding-top: 45%;
    pointer-events: none;
}

.selection-film {
    pointer-events: all;
}

.point {
    cursor: pointer;
}
