if films.length !== 0
    div(class="films")
        h1(class="selection-label-film") #{title}
        div(class="contentFilm")
            each film in films
                a(class="item")
                    img(class="film-main" src=film.pic[0] id=film.id+salt style="")
