if films.length !== 0
    div(class="films")
        h1(class="films-label__text films-pad") #{title}
        div(class="films-content__row films-mar")
            each film in films
                a(class="films-content__column")
                    img(id=film.id+salt class="films-content__picture" src=film.pic[0])