if films.length !== 0
    div(class="films")
        h1(class="films-label-profile__text" style="margin-left: 9%") #{title}
        div(class="films-content__row" style="margin-left: 9%")
            each film in films
                a(class="films-content__column")
                    img(id=film.id+salt class="films-content__picture" src=film.pic[0])