div(class="first-film")
    img(src=films.pic[0] class="first-pic")

    div(class="start-text")
        div(style="padding-bottom: 20px;")
            b=films.title

        div(class="play-text")
            img(class="play-button" src="play.ico")

        div(class="info-text" id="first_info")
            img(class="info-button" src="help_info.ico")
