div.first-film
    img(src=films.pic[0] style="float: left; max-width: 100%; height: auto;")

    div.start-text
        div(style="padding-bottom: 60px;")
            b=films.title


        div.play-text
            img(class="play-button"  src="play.svg")

        div.info-text
            img(class="info-button" id="first_info" src="help_info.svg")
