div.first-film
    img(src=films.src[0] style="float: left; max-width: 100%; height: auto;")

    div.start-text
        div(style="padding-bottom: 60px;")
            b=films.title


        div.play-text
            img(class="play-button"  src="play.ico")

        div.info-text
            img(class="info-button" id=films.id src="help_info.ico")
