div(class="film-first__column")
    img(src=films.pic[0] class="first-film__picture")

    div(class="film-first-title__column")
        div(class="film-first-title__text")
            b=films.title

        div(class="film-first-play__btn")
            img(class="film-first-play__ico" src="play.ico")

        div(class="film-first-info__btn" id="first_info")
            img(class="film-first-info__ico" src="help_info.ico")