div(class="player")
    video(src=videoSrc)
    div(class="player-panel")
        div(class="player-timeline__holder")
            div(class="player-timeline__row")
            div(class="player-timeline-current__row")
        div(class="player-buttons__holder")
            button(class="player-start-stop__btn point")
                img(src="play.png")
            button(class="player-move-left__btn point")
                img(src="rewind.png")
            button(class="player-move-right__btn point")
                img(src="ff.png")
            button(class="player-prev__btn point")
                img(src="previous.png")
            button(class="player-next__btn point")
                img(src="next.png")
            div(class="player-volume__stack point")
                em(class="player-volume__strip")
                em(class="player-volume__strip")
                em(class="player-volume__strip")
                em(class="player-volume__strip")
                em(class="player-volume__strip")
                em(class="player-volume__strip")
                em(class="player-volume__strip")
                em(class="player-volume__strip")
                em(class="player-volume__strip")
                em(class="player-volume__strip")
            span(class="player-duration__text")

    div(class="player-back__column")
        img(id="player-close" class="player-back__icon" src="player-close.ico")
