div.player_block
    video(src=videoSrc)
    div.player_panel
        div.timeline_holder
            div(class="timeline")
            div(class="timeline-current")
        div.buttons_holder
            button(class="start_stop_btn")
                img(src="play.png")
            button(class="move_left_btn")
                img(src="rewind.png")
            button(class="move_right_btn")
                img(src="ff.png")
            button(class="prev_button")
                img(src="previous.png")
            button(class="next_button")
                img(src="next.png")
            div.volume_holder(class="volume_holder")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
            span(class="duration_holder")
