div(class="player_block")
    video(src=videoSrc)
    div(class="player_panel")
        div(class="timeline_holder")
            div(class="timeline")
            div(class="timeline-current")
        div(class="buttons_holder")
            button(class="start_stop_btn point")
                img(src="play.png")
            button(class="move_left_btn point")
                img(src="rewind.png")
            button(class="move_right_btn point")
                img(src="ff.png")
            button(class="prev_button point")
                img(src="previous.png")
            button(class="next_button point")
                img(src="next.png")
            div.volume_holder(class="volume_holder point")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
            span(class="duration_holder")
