.offline_page_div {
    --pin-bg-color: #0000006e;
    background: var(--pin-bg-color);
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.offline_page_ul {
    padding-bottom: 25px;
}

a.blubtn {
    width: 150px;
    text-align: center;
    display: block;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    transition: .4s;
    font-family: 'Montserrat', sans-serif;
    border: solid #c73e77;
    padding: 11px 11px;
    margin: 0 auto;
}

a.blubtn:hover {
    background: #c73e77;
    display: block;
    color: #2ec614;
    cursor: pointer;
    transition: .5s;
    border-radius: 10px;
    border: solid #2ec614;
}