div(class="offline")
    h2(id ="offline-title__text") Нет подключения к Интернету
    h4 Попробуйте сделать следующее:
    ul(class="offline-acton__stack")
        li Проверьте сетевые кабели, модем и маршрутизатор.
        li Подключитесь к сети Wi-Fi ещё раз.
    a(class="offline-update__btn" id="reload_page") Обновить страницу