div.player_block
    video(src="")
    div.player_panel
        div.timeline_holder
            div(class="timeline") # вся линия времени
            div(class="timeline-current") # текущий ползунок
        div.buttons_holder
            button(class="start_stop_btn")
            button(class="move_left_btn")
            button(class="move_right_btn")
            button(class="volume_btn")
            span(class="duration_holder")
        div.fullscreen_holder
            button(class="fullscreen_btn")
