div.player_block
    video(src="")
    div.player_panel
        div.timeline_holder
            div(class="timeline")
            div(class="timeline-current")
        div.buttons_holder
            button(class="start_stop_btn")
            button(class="move_left_btn")
            button(class="move_right_btn")
            button(class="prev_button")
            button(class="next_button")
            div.volume_holder(class="volume_holder")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
                em(class="volume-white")
            span(class="duration_holder")