if films.length !== 0
    div(class="films")
        h1(class="films-label-actor__text") Фильмы с участием актера
        div(class="films-content__row" style="padding-left: 9%;")
            each film in films
                a(class="films-content__column")
                    img(id=film.id class="films-content__img" src=film.pic[0])