if films.length !== 0
    div(class="films")
        h1(class="films-label__text") Фильмы с участием актера
        div(class="films-content__row")
            each film in films
                a(class="films-content__column")
                    img(src=film.pic[0] id=film.id style="border-radius: 15px;")