if films.length !== 0
    div(class="films-container")
        h1(class="selection-label-film") Фильмы с участием актера
        div(class="contentFilm")
            each film in films
                a(class="item")
                    img(src=film.pic[0] id=film.id style="border-radius: 15px;")